body{
    background: red;
}
.login_div1
{
background: white;
padding: 10px;
float: none;
}
.login_div2
{
background: white;
padding: 10px;
float: none;
}
#player1_name_input
{
    display: inline-block;
}
#player2_name_input
{
    display: inline-block;
}